{{yield}}
<section>
  {{sound-file-picker
    fileName=fileName
    filePath=filePath
    onSetValue=(action "setSampleFile")
  }}
</section>

<section>
  {{euclidean-sequence
    onSetSeq=(action "setEucSeq")
  }}
</section>

<section>
  <button
    type="button"
    name="button"
    disabled={{isDisabled}}
    onclick={{action "applySettings"}}>
    apply settings
  </button>
</section>
