{{yield}}

<section>
  {{sound-file-picker
    fileName=fileName
    filePath=filePath
    onSetValue=(action "setSampleFile")
  }}
</section>

<div class='expanded-controls'>

  <section class="sequence-display">

    {{ui-step-sequencer sequence=sequence}}

    <table>
      <tr>
        <td></td>
        {{#each sequence as |step index|}}
          <td>
            <label class="step-selector">
              <input
              type="checkbox"
              name={{index}}
              value={{step}}
              checked={{step}}
              onclick="return false;"
              >
            </label>
          </td>
        {{/each}}
      </tr>

      {{#step-param-row
        paramName='speed'
        parameterArray=seqParamsDict.speed
        sequence=sequence as |row|
      }}
        {{ui-dial
          value=row.value
          onChangeValue=(action 'setParamDial' 'speed' row.index)
        }}
      {{/step-param-row}}

      {{#step-param-row
        paramName='loop end'
        parameterArray=seqParamsDict.loopEnd
        sequence=sequence as |row|
      }}
        {{ui-dial
          value=row.value
          onChangeValue=(action 'setParamDial' 'loopEnd' row.index)
          max=0.5
        }}
      {{/step-param-row}}

    </table>
  </section>

  <section class="control-group">
    {{euclidean-sequence
      onSetSeq=(action "setEucSeq")
      hits=eucParams.hits
      steps=eucParams.steps
      offsetAmount=eucParams.offsetAmount
    }}
  </section>

  <section class="control-group track-level-params">

    <div class="control toggle-slider">
      <label>
        {{input
          type="checkbox"
          name="toggle-loop"
          checked=isLooping
        }}
        loop
      </label>
    </div>

  </section>
</div>
