{{yield}}

<section>
  {{sound-file-picker
    fileName=fileName
    filePath=filePath
    onSetValue=(action "setSampleFile")
  }}
</section>

<div class='expanded-controls'>

  <section class="sequence-display">
      <ul class="paramter-selector">
        <li>loop end</li>
        <li>speed</li>
      </ul>
    <table>
      <tr>
        {{#each sequence as |step index|}}
          <td>
            <label class="step-selector">
              <input
              type="checkbox"
              name={{index}}
              value={{step}}
              checked={{step}}
              onclick="return false;"
              >
            </label>
          </td>
        {{/each}}
      </tr>
      <tr>
        {{#each seqParamsDict.speed as |value index|}}
          {{#if (lt index sequence.length)}}
            <td>
              {{ui-dial
                value=value
                onChangeValue=(action 'setParamDial' 'speed' index)
              }}
            </td>
          {{/if}}
        {{/each}}
      </tr>
    </table>
  </section>

  <section class="control-group">
    {{euclidean-sequence
      onSetSeq=(action "setEucSeq")
      hits=eucParams.hits
      steps=eucParams.steps
      offsetAmount=eucParams.offsetAmount
    }}
  </section>

  <section class="control-group track-level-params">

    <div class="control toggle-slider">
      <label>
        {{input
          type="checkbox"
          name="toggle-loop"
          checked=isLooping
        }}
        loop
      </label>
    </div>

  </section>
</div>
