{{yield}}

<section>
  {{sound-file-picker
    fileName=fileName
    filePath=filePath
    onSetValue=(action "setSampleFile")
  }}
</section>

<div>
  <section class="control-group">
    <div>
      {{ui-slider value=trackGain onChangeValue=(action "setTrackValue" "trackGain")}}
      {{trackGain}}
    </div>
    {{euclidean-sequence
      onSetSeq=(action "setEucSeq")
      hits=eucParams.hits
      steps=eucParams.steps
      offsetAmount=eucParams.offsetAmount
    }}
  </section>

  <section class="sequence-display">
    {{ui-step-sequencer sequence=sequence}}

    <table>
      <tr>
        <td></td>
        {{#each sequence as |step index|}}
          <td>
            <label class="step-selector">
              <input
              type="checkbox"
              name={{index}}
              value={{step}}
              checked={{step}}
              onclick="return false;"
              >
            </label>
          </td>
        {{/each}}
      </tr>

      {{#step-param-row
        paramName='speed'
        parameterArray=seqParamsDict.speed
        sequence=sequence as |row|
      }}
        {{#if row.isStepControl}}
          {{ui-dial
            value=row.value
            onChangeValue=(action 'setParamDial' 'speed' row.index)
            max=2
          }}
        {{else}}
          {{ui-dial
            value=row.value
            onChangeValue=(action 'setParamDial' 'speed' 'all')
            isMacro=true
            max=2
          }}
        {{/if}}
      {{/step-param-row}}

      {{#step-param-row
        paramName='loop length'
        parameterArray=seqParamsDict.loopEnd
        toggleProperty=isLegato
        toggleName='sustained loop'
        sequence=sequence as |row|
      }}
        {{#if row.isStepControl}}
          {{ui-dial
            value=row.value
            onChangeValue=(action 'setParamDial' 'loopEnd' row.index)
            max=0.5
          }}
        {{else}}
          {{ui-dial
            value=row.value
            onChangeValue=(action 'setParamDial' 'loopEnd' 'all')
            isMacro=true
            max=0.5
          }}
        {{/if}}
      {{/step-param-row}}

    </table>
  </section>

</div>
