{{yield}}
<p class="xaxis">perfect 5ths</p>
<div class="table-axis-wrapper">
  <p class="yaxis">major 3rds</p>
  <table>
    {{#each toneLattice as |row rowIndex|}}
    <tr>
      <!-- {{row}} -->
      {{#each row as |tone colIndex|}}
      <td
      id="tone-{{rowIndex}}-{{colIndex}}"
      class="toneCell"
      data-tone-col="{{colIndex}}"
      data-tone-row="{{rowIndex}}"
      >
      {{tone}}
    </td>
    {{/each}}
  </tr>
  {{/each}}
</table>
</div>

<div class="controls">
  <div class="inline-block">
    <p>loop rate:</p>
    {{input
      class="large-font"
      type="number"
      name="loop-interval-input"
      value=loopInterval
    }}
  </div>

  <button class="toggle-btn large-font" type="button"
    name="toggle-play-osc"
    {{action "togglePlayOsc"}}>
    {{if isPlayingOsc "stop" "start"}}
  </button>

  <button class="toggle-btn large-font" type="button"
    name="toggle-loop"
    {{action "toggleLoop"}}
  >

  {{if isLooping "freeze" "loop"}}

  </button>

</div>
