{{yield}}
<p class="xaxis">perfect 5ths</p>
<div class="table-axis-wrapper">
  <p class="yaxis">major 3rds</p>
  <table>
    {{#each toneLattice as |row rowIndex|}}
    <tr>
      <!-- {{row}} -->
      {{#each row as |tone colIndex|}}
      <td
      id="tone-{{rowIndex}}-{{colIndex}}"
      class="toneCell"
      data-tone-col="{{colIndex}}"
      data-tone-row="{{rowIndex}}"
      >
      {{tone}}
    </td>
    {{/each}}
  </tr>
  {{/each}}
</table>
</div>

{{input
  type="number"
  name="loop-interval-input"
  value=loopInterval
}}
